
.svginter
{
	text-align: center;
	margin: 0 auto;
}

#path4487
{
fill:#00ffff;
stroke:none;
stroke-width:1px;
stroke-linecap:butt;
stroke-linejoin:miter;
stroke-opacity:1;
fill-opacity:0.34482759;
opacity:0
}

#path4487:hover
{
opacity:100;
}

#path4499
{
fill:#ff0000;
stroke:#000000;
stroke-width:1px;
stroke-linecap:butt;
stroke-linejoin:miter;
stroke-opacity:1;
fill-opacity:0.34562212;
opacity:0
}

#path4499:hover
{
opacity:100;
}

#path4501
{
	fill:#2bff00;
	stroke:#000000;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	fill-opacity:0.5299539;
	opacity:0
}

#path4501:hover
{
	opacity:100;
}

#path4503
{
	fill:#ad2fd8;
	stroke:#000000;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	fill-opacity:0.5299539;
	opacity:0
}

#path4503:hover
{
	opacity:100;
}

#path4505
{
	fill:#e9055c;
	stroke:#000000;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	fill-opacity:0.42396313;
	opacity:0
}

#path4505:hover
{
	opacity:100;
}

#path4507
{
	fill:#000500;
	stroke:#000000;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	fill-opacity:0.58064514;
	opacity:0
}

#path4507:hover
{
	opacity:100;
}

#path4544
{
	fill:#0005af;
	stroke:#000077;
	stroke-width:1px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
	fill-opacity:0.58064514;
	opacity:0
}

#path4544:hover
{
	opacity: 100;
}

.precipicio
{
	text-align: center;
	margin: 0 auto;

}

.svgjuez
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 50%;
}

.svgmalabares
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 50%;
}

.svgmusiquilla
{
	margin: 0 auto;
	text-align: center;
	width: 60%;
	height: 60%;	
}

.svgshhh
{
	margin: 0 auto;
	text-align: center;
	width: 60%;
	height: 60%;	
}

.svgacertijos
{
	margin: 0 auto;
	text-align: center;
	width: 60%;
	height: 60%;	
}

.svgbaile
{
	margin: 0 auto;
	text-align: center;
	width: 60%;
	height: 60%;	
}

.svgcasino
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 50%;	
}

.svgfuente
{
		margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 50%;	
}

.botoncasino
{
	margin: 30px;
	text-align: center;
}

#myRandomDiv
{
	margin: 0 auto;
	text-align: center;
}

.autoplay
{
	margin: 0 auto;
	text-align: center;	
}
